@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --blue: #4A63E7;
    --white: #FFF;
    --bg-blue: #f8f9fa;
    --red: #dc3545;
    --black: #000000;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-blue);
}
.container{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 20px;
    max-width: 1000px;
    height: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .main-title h1{
    font-size: 5em;
    margin: 0;
    padding-left: 100px;
}
.container .main-title h1 span{
    color: var(--red);
}
.container .sub-title p{
    padding-left: 100px;
    margin: 0;
    font-size: 1.2em;
}
.container .button{
    padding-left: 100px;
    margin: 40px 0 0 0;
}
.container .button a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--red);
    font-size: 1.2em;
    padding: 10px 30px;
    border-radius: 25px;
    margin-right: 30px;
}
.container .button a:hover{
    background-color: var(--white);
    color: var(--red);
    transition: all 0.5s ease;
}
.about{
    background-color: var(--white);
    color: var(--black);
}
.profile{
    display: flex;
    justify-content: center;
}
.profile img{
    border-radius: 50%;
    filter:contrast(0.8);
    filter: brightness(0.8);
    margin-left: 100px;
    cursor: pointer;
    border: 4px dotted var(--red);
    padding: 5px;
}
.profile img:hover{
    filter: brightness(0.5);
    transition: all 0.5s ease;
}
.profile .details{
    padding-left: 50px;
}
.profile .details .about-button{
    padding-left: 0;
}
.profile .details .about-button a{
    background-color: var(--blue);
}
.profile .details .about-button a:hover{
    background-color: var(--red);
    color: var(--white);
}
.about .menu-title h2{
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 100px;
    border-bottom: 4px solid var(--red);
    cursor: pointer;
}
.about .menu-title h2:hover{
    border-color: var(--blue);
    transition: all 0.5s ease;
}
.skills{
    background-color: var(--white);
    color: var(--black);
}
.skills .menu-title h2{
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 100px;
    border-bottom: 4px solid var(--red);
    cursor: pointer;
}
.skills .menu-title h2:hover{
    border-color: var(--blue);
    transition: all 0.5s ease;
}
.skills .skills-details{
    padding-left: 100px;
}
.skills .skill-cards .card{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 20px;
    margin-top: 20px;
}
.skills .skill-cards .card div{
    width: 150px;
    height: 150px;
    background-color: var(--red);
    color: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.skills .skill-cards .card div:hover{
    background-color: var(--blue);
    transition: all 0.5s ease;
}